<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Main Display</h2>
    <% i = 0 %>
    <% rows.forEach(function(r) { %>
        <% i+= r.height*10 + 30%>
        <svg width="<%= r.size/r.height*10 %>" height="<%= r.height*5 %>">
          <rect width="<%= r.size/r.height*10 %>" height="<%= r.height*5 %>" style="fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)" id  = "<%= r.name %>" onclick = "windows.alert(<%= r.name %>,<%= r.size %>,<%= r.height %>,<%= r.type %>)">

          Sorry, your browser does not support inline SVG.
        </svg>
    <% }); %>
    <script type="text/javascript" src = "./drawPeople.js">
    </script>

</div>

</body>
</html>
