<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Main Display</h2>
    <% i = 0 %>
    <% rows.forEach(function(r) { %>
        <% i+= r.height*10 + 30%>
        <svg width="<%= (r.size/r.height*20) %>" height="<%= (r.height*10)%>">
          <rect width="<%= r.size/r.height*20 %>" height="<%= r.height*10 %>" style="fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)" id  = "<%= r.name %>" onclick = "window.alert('<%= r.name %>,<%= r.size %>,<%= r.height %>,<%= r.type %>')"></rect>
          <text x="10" y=45% font-family="Roboto" text-align = "center" text-anchor="middle" font-size="12" fill="#111111">  <%= r.name %>  </text>
          Sorry, your browser does not support inline SVG.
        </svg>
    <% }); %>

</div>

</body>
</html>
